      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      body {
        height: 30%;
        background-image: url("/road.jpg");
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgb(7, 7, 7);
      }

      #locationField,
      #controls {
        position: relative;
        width: 100%;
      }
    
      input {
        height: 30px;
        border-radius: 2px;
        border: 1px solid rgb(186, 178, 178);
        box-shadow: 0px 0px 12px #EFEFEF;
        position: absolute;
        top: 20px;
        left: 20px;
        width: 35%;
      }
    
      table {
        margin-top: 40px;
        margin-left: 20px;
        border-collapse: collapse;
        width: 35%;
        background-color: whitesmoke;
      }
    
      td {
        padding: 5px;
        border: solid black 1px;
        width: 40%;
      }
    
      td.small {
        width: 20%;
      }
    
      .invisible {
        display: none;
      }